* {
}
body {
  margin: 0;
}

p {
  font-family: "Merriweather", serif;
}

h1,
h2,
h3,
h4 {
  font-family: "Dancing Script", cursive;
}

/* Estilos del header */
header {
  width: 100%;
  height: 100vh;
  background-image: url("../assets/images/bg-an-page.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.header-bg-cover-color {
  width: 100%;
  height: 100%;
  background-color: #06283c;
  opacity: 0.5;
  position: absolute;
}

.header-intro-text {
  position: absolute;
  z-index: 3;
  width: 100%;
  color: white;
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-intro-text h1 {
  font-size: 5.25rem;
}

.header-intro-text h3 {
  font-size: 1.35rem;
  padding-top: 2%;
  font-weight: 200;
  font-style: italic;
}

.header-intro-text button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 1.25rem;
  border: 0.5px solid #ffffff;
  color: #ffffff;
  margin-top: 4%;
  cursor: pointer;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(52, 86, 113, 1) 35%,
    rgba(0, 0, 0, 1) 100%
  );
}

/* Estilos del main */
main {
  width: 100%;
  padding: 40px;
  box-sizing: border-box;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(52, 86, 113, 1) 35%,
    rgba(0, 0, 0, 1) 100%
  );
  display: none;
}

.main-title-intro {
  width: 100%;
}

.main-title-intro h2 {
  font-size: 1.5rem;
  margin: 0;
  color: #ffffff;
}

.main-galery-road {
  width: 100%;
  height: 90%;
  padding: 60px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.galery-pics {
  width: 18.75rem;
  height: 26rem;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 1.875rem;
  border: 1px solid #06283c;
  background-color: #ffffff;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  will-change: transform, box-shadow;
  transition: background-color 0.3s ease;
}
.galery-pics:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  background-color: #f2f2f2;
}

.galery-img {
  height: 21.375rem;
  border: 1px solid #06283c;
}

.galery-img-msm {
  height: 10%;
  border: 1px solid #06283c;
}

.img-frame {
  width: 100%;
  height: 100%;
}

.galery-img-msm {
  display: flex;
  align-items: center;
  text-align: center;
}
.galery-img-msm p {
  font-size: 0.65rem;
  font-style: italic;
  margin: 0;
  padding: 5px;
}

.galery-pics:active {
  transform: scale(0.98); /* Ligeramente más pequeño para dar feedback táctil */
  background-color: #f2f2f2; /* Cambio de color al tocar */
}
/* Estilos de la sección letter */
.section-letter {
  padding: 3.75rem;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(52, 86, 113, 1) 21%,
    rgba(255, 255, 255, 1) 40%
  );
  display: none;
}

.section-letter h3 {
  text-align: center;
  color: #ffffff;
  font-size: 2rem;
}

.letter-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.05);
    opacity: 0.8;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.letter-container img {
  width: 15.625rem;
  animation: pulse 3s infinite ease-in-out;
}

.letter-content {
  border-radius: 8px;
  width: 80%;
  margin: 0 auto;
}

.letter-content p {
  padding: 6.375rem;
  margin: 0;
  line-height: 2em;
  font-size: 0.8rem;
  text-align: justify;
}

.letter-content span {
  color: #b00000;
  font-weight: bold;
}

@media (max-width: 1024px) {
  .header-intro-text h1 {
    font-size: 4rem;
  }

  .header-intro-text h3 {
    font-size: 1.2rem;
    padding-top: 3%;
  }
  .header-intro-text button {
    width: 45px;
    height: 45px;
    font-size: 1.1rem;
    margin-top: 3%;
  }
  .galery-pics {
    width: 45%;
  }
  .letter-content p {
    padding: 1rem;
    font-size: 0.75rem;
  }
}

/* Tabletas en orientación vertical y pantallas pequeñas */
@media (max-width: 768px) {
  .header-intro-text h1 {
    font-size: 3rem;
  }

  .header-intro-text h3 {
    font-size: 1rem;
    padding-top: 4%;
  }
  .header-intro-text button {
    width: 40px;
    height: 40px;
    font-size: 1rem;
    margin-top: 3%;
  }
  .main-title-intro h2 {
    font-size: 2rem;
  }

  .main-title-intro h4 {
    font-size: 0.8rem;
  }

  .main-galery-road {
    padding: 20px;
  }

  .galery-pics {
    width: 100%;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 0.5s forwards;
  }
  .letter-container img {
    width: 50%;
  }
  .letter-content {
    width: 90%;
  }

  .letter-content p {
    padding: 1rem;
  }
}
@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Móviles en orientación horizontal y vertical */
@media (max-width: 480px) {
  .header-intro-text h1 {
    font-size: 2.5rem;
  }

  .header-intro-text h3 {
    font-size: 0.9rem;
    padding-top: 5%;
  }
  .header-intro-text button {
    width: 35px;
    height: 35px;
    font-size: 0.9rem;
    margin-top: 2%;
  }

  .main-title-intro h2 {
    font-size: 1.5rem;
  }

  .main-title-intro h4 {
    font-size: 0.75rem;
  }
  .letter-container img {
    width: 60%;
  }

  .letter-content {
    width: 95%;
  }

  .letter-content p {
    padding: 1rem;
    line-height: 1.5em;
    font-size: 0.75rem;
  }
}
